<main>
  <div class="container">
    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

            <div class="d-flex justify-content-center py-4">
              <a href="index.html" class="logo d-flex align-items-center w-auto">
                <%= image_tag "admin/logo.png" %>
                <span class="d-none d-lg-block"><%= ENV["admin_name"] %></span>
              </a>
            </div><!-- End Logo -->

            <div class="card mb-3">

              <div class="card-body">

                <div class="pt-4 pb-2">
                  <h5 class="card-title text-center pb-0 fs-4">Login to Your Account</h5>
                  <p class="text-center small">Enter your email & password to login</p>
                </div>

                <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "row g-3 needs-validation" }) do |f| %>
                  <%= bootstrap_flash_messages %>

                  <div class="col-12">
                    <%= f.label :email, class: "form-label" %>
                    <div class="input-group has-validation">
                      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
                      <div class="invalid-feedback">Please enter your email.</div>
                    </div>
                  </div>

                  <div class="col-12">
                    <%= f.label :password, class: "form-label" %>
                    <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
                    <div class="invalid-feedback">Please enter your password!</div>
                  </div>

                  <% if devise_mapping.rememberable? %>
                    <div class="col-12">
                      <div class="form-check">
                        <%= f.check_box :remember_me, class: "form-check-input" %>
                        <%= f.label :remember_me %>
                      </div>
                    </div>
                  <% end %>
                  <div class="col-12">
                    <%= f.submit "Login", class: "btn btn-primary w-100" %>
                  </div>
                  <!-- <div class="col&#45;12"> -->
                  <!--   <p class="small mb&#45;0">Don't have account? <a href="pages&#45;register.html">Create an account</a></p> -->
                  <!-- </div> -->
                  <%- render "devise/shared/links" %>
                <% end %>

              </div>
            </div>

            <!-- <div class="credits"> -->
            <!--   <!&#45;&#45; All the links in the footer should remain intact. &#45;&#45;> -->
            <!--   <!&#45;&#45; You can delete the links only if you purchased the pro version. &#45;&#45;> -->
            <!--   <!&#45;&#45; Licensing information: https://bootstrapmade.com/license/ &#45;&#45;> -->
            <!--   <!&#45;&#45; Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice&#45;admin&#45;bootstrap&#45;admin&#45;html&#45;template/ &#45;&#45;> -->
            <!--   Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> -->
            <!-- </div> -->

          </div>
        </div>
      </div>

    </section>

  </div>
</main><!-- End #main -->
