<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag "admin/favicon.png" %>
    <%= display_meta_tags site: ENV["website_title"] %>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <%= stylesheet_link_tag "admin", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "admin", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "layouts/admin/header" %>
    <%= render "layouts/admin/sidebar" %>
    <%= render "layouts/admin/breadcrumb" %>
    <main id="main" class="main">
      <%= bootstrap_flash_messages %>
      <%= render "layouts/admin/breadcrumb" %>
      <%= yield %>
    </main>
    <%= render "layouts/admin/footer" %>
  </body>
</html>
